{% extends "base.html" %}

{% block content %}
{% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    <form action="{% url 'django.contrib.auth.views.login' %}" method="POST"> 
    	{% csrf_token %}

        <label for="username">Username:</label>
        <input type="username" name="username" class="ui input" />
		<br>
        <label for="password">Password:</label>
        <input type="password" name="password" class="ui input" />
		<br>
    	<button type="submit" name="submit" class="ui button green">Sign in</button>
	</form>
{% endblock %}