{% extends "base.html" %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="ui error message">
            <div class="header">Error</div>
            <p>Did you just tried to login while already logged in !!! </p>
            <p>Please go back</p>
        </div>
    {% else %}
        {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
        {% endif %}
        <form action="{% url 'JHTS.views.login' %}" method="POST"> 
        	{% csrf_token %}
            <table cellpadding="10" cellspacing="10">
                <tr>
                    <td>Username:</td>
                    <td>    
                        <div class="ui fluid input">
                        <input type="username" name="username"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td>
                        <div class="ui fluid input">
                        <input type="password" name="password" class="ui input" />
                        </div>
                    </td>
                </tr>
            </table>
        	<button type="submit" name="submit" class="ui button green">Sign in</button>
    	</form>
    {% endif %}
{% endblock %}