{% extends "base.html" %}

{% block content %}
    <h2 class="ui dividing header">
        Pages
    </h2>

	{% if pages %}
        {% for page in pages %}
            <div class="ui segment">
                <h2 class="ui dividing header">
                    <a href="{% url 'pages.views.controller' page.url %}" class="normal-link">
                        {{ page.title }}
                    </a>

                    {% if user.is_superuser %}
                        <button class="ui small red button right floated delete-button">
                            Delete
                        </button>

                        <!-- Modal code -->

                        <div class="ui small modal">
                            <i class="close icon"></i>

                            <div class="header">
                                Delete Post
                            </div>
                            <div class="content">
                                <p>Are you sure you want to delete '{{ page.title }}'?</p>
                            </div>

                            <div class="actions">
                                <div class="ui basic button">
                                    No
                                </div>
                                <a class="ui negative button" href="{% url 'pages.views.delete' page.url %}">
                                    Yes
                                    <i class="trash icon"></i>
                                </a>
                            </div>
                        </div>

                        <a href="{% url 'pages.views.update' page.url %}" class="ui small green button right floated">Update</a>
                    {% endif %}
                </h2>

                <p>
                    {{ page.content | truncatewords:33 | safe }}
                </p>
                <br>
                <a href="{% url 'pages.views.controller' page.url %}" class="ui small basic button">Read More</a>
            </div> 
        {% endfor %}

        <div class="pagination">
            <span class="step-links">
                {% if pages.has_previous %}
                    <a href="?page={{ pages.previous_page_number }}" class="ui blue button">Previous</a>
                {% else %}
                    <a href="#" class="ui blue disabled button">Previous</a>
                {% endif %}

                <span class="current">
                    Page {{ pages.number }} of {{ pages.paginator.num_pages }}
                </span>

                {% if pages.has_next %}
                    <a href="?page={{ pages.next_page_number }}" class="ui blue button">Next</a>
                {% else %}
                    <a href="#" class="ui blue disabled button">Next</a>
                {% endif %}
            </span>
        </div>
    {% else %}
        <p>No pages yet.</p>
    {% endif %}
{% endblock %}

{% block custom_js %}
    $('.delete-button').on('click', function(){
        console.log("clicked");
        $(this)
            .siblings('.modal')
            .modal('setting', 'detachable', false)
            .modal('show');
    });
{% endblock %}
