{% extends "base.html" %}

{% block home_active %}{% endblock %}

{% block custom_css %}
.form-table td{
	padding: 0 0 1em 0;
}
{% endblock %}

{% block content %}
	{% if user.is_superuser %}
		 <form method="post" class="ui fluid form">
		 	{% csrf_token %}
		 	<table class="form-table">
				{{ form.as_table }}
			</table>
			<button class="ui green button">
				{% if update %}
					Update
				{% else %}
					<i class="add icon"></i>
					Add Page
				{% endif %}
			</button>
        </form>
    {% else %}
    	<h1>You are not authorized to view this page, {{ user.username }}</h1>
	{% endif %}
{% endblock %}
