{% extends "base.html" %}

{% block home_active %}{% endblock %}
{% block notice_board_active %}active{% endblock %}

{% block content %}

    <h2 class="ui dividing header">
      	{{ post.title }}

        {% if user.is_authenticated %}
            <button class="right floated small ui red button delete-button">
                Delete
            </button>

            <a href="{% url 'blog.views.update' post.id %}" class="right floated small ui green button">Update</a>

            <!-- Modal code -->

            <div class="ui small modal">
                <i class="close icon"></i>

                <div class="header">
                    Delete Post
                </div>
                <div class="content">
                    <p>Are you sure you want to delete '{{ post.title }}'?</p>
                </div>

                <div class="actions">
                    <div class="ui basic button">
                        No
                    </div>
                    <a class="ui negative button" href="{% url 'blog.views.delete' post.id %}">
                        Yes
                        <i class="trash icon"></i>
                    </a>
                </div>
            </div>

        {% endif %}
    </h2>

    <div class="ui segment attached">
    	{{ post.content|safe }}
        
        <div class="ui bottom right attached label">
            {{ post.pub_date }}
        </div>
    </div>

    <br> <br>

{% endblock %}

{% block custom_js %}
    $('.delete-button').click(function(){
        $(this)
            .siblings('.modal')
            .modal('setting', 'detachable', false)
            .modal('show');
    });
{% endblock %}
