{% extends "base.html" %}

{% block home_active %}{% endblock %}
{% block notice_board_active %}active{% endblock %}

{% block content %}
    <h1 class="ui center aligned dividing header">
        Notice Board
        {% if user.is_superuser %}
        <a class="right floated small ui green button" href="{% url 'blog.views.create' %}">
            <i class="icon plus"></i>
            Add Post
        </a>
        {% endif %}
    </h1>
    {% if posts %}
        {% for post in posts %}
            <div class="ui segment">
                <h2 class="ui dividing header">
                    <a href="{% url 'detail' post.id %}" class="normal-link">
                        {{ post.title }}
                    </a>

                    {% if user.is_superuser %}
                        <button class="right floated small ui red button delete-button">
                            Delete
                        </button>
                        
                        <!-- Modal code -->

                        <div class="ui small modal">
                            <i class="close icon"></i>

                            <div class="header">
                                Delete Post
                            </div>
                            <div class="content">
                                <p>Are you sure you want to delete '{{ post.title }}'?</p>
                            </div>

                            <div class="actions">
                                <div class="ui basic button">
                                    No
                                </div>
                                <a class="ui negative button" href="{% url 'blog.views.delete' post.id %}">
                                    Yes
                                    <i class="trash icon"></i>
                                </a>
                            </div>
                        </div>

                        <a href="{% url 'blog.views.update' post.id %}" class="ui small green button right floated">Update</a>
                    {% endif %}
                </h2>

                <p>
                    {{ post.content | truncatewords:33 | safe }}
                </p>
                <br>
                <div>
                    <a href="{% url 'blog.views.detail' post.id %}" class="ui small basic button">Read More</a>
                    <!-- <div> 
                        {{ post.tags.names }}
                    </div> -->
                    <!-- TODO: display tags and link to them. -->
                </div>
            </div> 
        {% endfor %}

        <div class="pagination">
            <span class="step-links">
                {% if posts.has_previous %}
                    <a href="?page={{ posts.previous_page_number }}" class="ui blue button">Previous</a>
                {% else %}
                    <a href="#" class="ui blue disabled button">Previous</a>
                {% endif %}

                <span class="current">
                    Page {{ posts.number }} of {{ posts.paginator.num_pages }}
                </span>

                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}" class="ui blue button">Next</a>
                {% else %}
                    <a href="#" class="ui blue disabled button">Next</a>
                {% endif %}
            </span>
        </div>
    {% else %}
        <p>No posts yet.</p>
    {% endif %}
{% endblock %}

{% block custom_js %}
    $('.delete-button').click(function(){
        $(this)
            .siblings('.modal')
            .modal('setting', 'detachable', false)
            .modal('show');
    });
{% endblock %}
