{% extends "base.html" %}

{% block content %}
    <h1 class="ui center aligned dividing header">Notice Board</h1>
    {% if posts %}
        {% for post in posts %}
            <div class="ui dividing header">
                <h3>
                    <a href="{% url 'detail' post.id %}" class="normal-link">
                        {{ post.title }}
                    </a>
                </h3>
            </div> 
        {% endfor %}

        <div class="pagination">
            <span class="step-links">
                {% if posts.has_previous %}
                    <a href="?page={{ posts.previous_page_number }}" class="ui blue button">Previous</a>
                {% else %}
                    <a href="#" class="ui blue disabled button">Previous</a>
                {% endif %}

                <span class="current">
                    Page {{ posts.number }} of {{ posts.paginator.num_pages }}
                </span>

                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}" class="ui blue button">Next</a>
                {% else %}
                    <a href="#" class="ui blue disabled button">Next</a>
                {% endif %}
            </span>
        </div>
    {% else %}
        <p>No posts yet.</p>
    {% endif %}
{% endblock %}