{% extends "base.html" %}

{% block home_active %}{% endblock %}
{% block gallery_active %}active{% endblock %}

{% block custom_css %}
.form-table td{
	padding: 0 0 1em 0;
}
{% endblock %}

{% block content %}
	{% if user.is_superuser %}
	    <form method="post" enctype="multipart/form-data" class="ui fluid form" action="">
		 	{% csrf_token %}
		 	<table class="form-table">
				{{ form.as_table }}
			</table>
			<input type="submit" class="ui button green" value="Post" />
        </form>
    {% else %}
    	<h1>You are not authorized to view this page, {{ user.username }}</h1>
	{% endif %}
{% endblock %}
