{% extends "base.html" %}

{% block home_active %}{% endblock %}
{% block gallery_active %}active{% endblock %}

{% block custom_css %}
/* To be written */
{% endblock %}

{% block content %}

	<h1 class="ui dividing header">
		Gallery
		{% if user.is_superuser %}
			<a class="right floated small ui green button" href="{% url 'upload' %}">
			<i class="ui small icon plus"></i>
			Add a Photo
			</a>
		{% endif %}
	</h1>
	<br>

	<!-- This is incomplete, so not showing. -->
	<!-- <div class="cycle-slideshow"
	    data-cycle-fx="tileSlide"
	    data-cycle-timeout="0"
	    data-cycle-prev="#prev"
	    data-cycle-next="#next">
		{% for img in gallery_images %}
			<img src="{{ img.image.url }}" alt="{{ img.description | truncatewords:10 | safe }}">
		{% endfor %}
	</div>
	<div style="text-align:center;">
	    <a href="#" id="prev" class="ui basic button">Prev</a> 
	    <a href="#" id="next" class="ui basic button">Next</a>
	</div> -->

	{% if gallery_images %}
		<div class="ui three column grid">
			{% for img in gallery_images %}
				{% cycle '<div class="row">' '' '' %}
				<div class="column">
					<div class="ui blue attached raised segment">
						<a href="{% url 'gallery.views.detail' img.id %}">
							<img src="{{ img.image.url }}"  alt="{{ img.description }}" class="rounded ui large image">
						</a>
					</div>
					<div class="ui teal bottom attached message">
						{{ img.description | truncatewords:10 | safe }}
					</div>
				</div>
				{% cycle '' '' '</div>' %}
			{% endfor %}
		</div>

		<div class="pagination">
			<center>
		        <span class="step-links">
		            {% if gallery_images.has_previous %}
		                <a href="?page={{ gallery_images.previous_page_number }}" class="ui blue button">Previous</a>
		            {% else %}
		                <a href="#" class="ui blue disabled button">Previous</a>
		            {% endif %}

		            <span class="current">
		                Page {{ gallery_images.number }} of {{ gallery_images.paginator.num_pages }}
		            </span>

		            {% if gallery_images.has_next %}
		                <a href="?page={{ gallery_images.next_page_number }}" class="ui blue button">Next</a>
		            {% else %}
		                <a href="#" class="ui blue disabled button">Next</a>
		            {% endif %}
		        </span>
	        </center>
		</div>

	{% else %}
		<div id="text_holder">
			<p>No Images to display</p>		
		</div>
	{% endif %}
{% endblock%} 

{% block custom_js_includes %}
	{% load static %}
	<script src="{% static 'blog/js/jquery.cycle2.min.js' %}"></script>
    <script src="{% static 'blog/js/jquery.cycle2.caption2.min.js' %}"></script>
{% endblock %}

