{% extends "base.html" %}

{% block home_active %}{% endblock %}
{% block gallery_active %}active{% endblock %}

{% block content %}

	<h1 class="ui dividing header">
		Gallery
		{% if user.is_authenticated %}
			<a class="right floated small ui green button" href="{% url 'upload' %}">
				<i class="ui small icon plus"></i>
				Add Photo
			</a>
		{% endif %}
	</h1>
	<br>
	<ul class="rslides">
	
		{% for img in gallery_images %}
			<li><img class="rounded ui image" src="{{ img.image.url }}"></li>
		{% endfor %}
	
	</ul>
{% endblock%}