{% extends "base.html" %}

{% block home_active %}{% endblock %}
{% block gallery_active %}active{% endblock %}

{% block custom_js %}
$(function(){
    $(".rslides").responsiveSlides({auto:false,pager:true});
});
{% endblock %}

{% block custom_css %}
.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}

.rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
}

.rslides li:first-child {
	position: relative;
	display: block;
	float: left;
}

.rslides img {
	display: block;
	height: auto;
	float: left;
	width: 100%;
	border: 0;
}
.rslides_tabs li {
	display: inline;
	float: none;
	margin-right: 1px;
	margin-right-value: 1px;
	margin-right-ltr-source: physical;
	margin-right-rtl-source: physical;
}
{% endblock %}

{% block content %}

	<h1 class="ui dividing header">
		Gallery
		{% if user.is_superuser %}
			<a class="right floated small ui green button" href="{% url 'upload' %}">
				<i class="ui small icon plus"></i>
				Add Photo
			</a>
		{% endif %}
	</h1>
	<br>
	<ul class="rslides">
		{% for img in gallery_images %}
			<li><img class="rounded ui image" src="{{ img }}"></li>
		{% endfor %}
	</ul>
	<ul class="rslides_tabs rslides2_tabs">
		{% for img in gallery_images %}
		<li class="rslides2_s1 rslides_here ">
		</li>
		{% endfor %}
	</ul>
{% endblock%}