<html>
<head>
    {% load staticfiles %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="{% static 'blog/semantic.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/style.css' %}">

    <!-- CKEditor doesn't work without this inside <head> -->
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <title>
        J.H Tarapore School &#8729; {% block title %}{% endblock %}
    </title>

    <style>
    {% block custom_css %}
    {% endblock %}
    </style>
</head>

<body>
    <div class="header-area">
        <div class="centered-wrapper" style="text-align: center;">    
            <a href="{% url 'index' %}" class="normal-link">
                <h1> J.H Tarapore School </h1>
            </a>
            <br>
            A School with a Difference
        </div>
        <br>
        <div class="main-menu">
            <div class="ui menu">
                <a class="item" href="{% url 'index' %}">
                    <i class="home icon"></i> Home
                </a>
                <a class="item" href="{% url 'blog.views.index' %}">
                    <i class="grid layout icon"></i> Notice Board
                </a>

                <div class="right menu">
                  <div class="item">
                    <div class="ui icon input">
                      <input placeholder="Search" type="text">
                      <i class="search link icon"></i>
                    </div>
                  </div>
                </div>
                
            </div>
        </div>
    </div>

    <div class="centered-wrapper" style="text-align: center;">    
        <div class="messages">
            {% if messages %}
                {% for message in messages %}
                    <div class="ui huge inverted red label">
                        {{ message }}
                        <i class="close icon close-label"></i>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    {% block body %}
        <div class="ui piled segment content">
            {% block content %}{% endblock %}
        </div>
    {% endblock %}


    <!-- Scripts are here for faster page loading -->
    <script src="{% static 'blog/js/jquery.js' %}"></script>
    <script>
        $(function(){
            // Initialization related things
            $('input[type="text"]')
                .wrap("<div class='ui fluid input'></div>");

            // Functionality
            $('.close-label').click(function(){
                $(this).parent().fadeOut();
            });
        });
    </script>
</body>
</html>