{% extends "base.html" %}

{% block content %}
    <h1 class="ui center aligned dividing header">Notice Board</h1>
    {% if posts %}
        {% for post in posts %}
            <div class="ui dividing header">
                <h3><a href="{% url 'detail' post.id %}">
                    {{ post.title }}
                    </a>
                </h3>
                <a href="{% url 'update' post.id %}" class="right floated">
                    Update
                </a>
            </div>
        {% endfor %}
    {% else %}
        <p>No posts yet.</p>
    {% endif %}
{% endblock %}