<html>
<head>
    {% load staticfiles %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="{% static 'main/semantic.min.css' %}">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <title>
        J.H Tarapore School &#8729; {% block title %}{% endblock %}
    </title>
</head>

<body>
    <div class="header-area">
        <div id="wrapper" style="text-align: center">    
            <a href="{% url 'index' %}" class="normal-link">
                <h1> J.H Tarapore School </h1>
            </a>
        </div>
    </div>

    
    <div class="messages">
        {% if messages %}
            {% for message in messages %}
                <div class="ui huge inverted red label">
                    {{ message }}
                    <i class="fa fa-times close-label"></i>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    {% block body %}
        <div class="ui piled segment content">
            {% block content %}{% endblock %}
        </div>
    {% endblock %}

    <script src="{% static 'main/js/jquery.js' %}"></script>
    <script>
        $(function(){
            $('.close-label').click(function(){
                $(this).parent().fadeOut();
            });
        });
    </script>
</body>
</html>